[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
birl = {file = "https://github.com/Borda/BIRL/archive/master.zip"}
numpy = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.9"
